@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .footer-link {
    @apply text-lg transition-colors
    hover:text-blue-500;
  }
  
  .nav-link {
    @apply text-lg transition-colors duration-500 px-4 py-2 rounded-xl border border-zinc-700 shadow-2xl
    hover:bg-bg-on-hover;
  }

  .sidebar-stack {
    @apply flex flex-col gap-y-3;
  }

  .subheading-text {
    @apply text-lg font-semibold px-1;
  }

  .notification {
    @apply px-1;
  }

  .normal-link {
    @apply text-lg text-blue-600 transition-colors duration-300
    hover:text-blue-500;
  }

  .form-container {
    @apply flex flex-col space-y-4 bg-bg-primary py-8 px-2 rounded-2xl items-center shadow-lg shadow-zinc-900;
  }

  .content-container {
    @apply flex flex-row w-full;
  }

  .inner-content-container {
    @apply flex w-full justify-center my-8 lg:mr-40 h-fit;
  }

  .cta-btn {
    @apply bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4;
  }
}

@layer utilities {
  .bg-header-footer {
    @apply bg-zinc-800;
  }
}

@layer base {
  button {
    @apply p-2 bg-bg-primary rounded-xl transition-colors duration-300
    hover:bg-bg-on-hover;
  }
  
  label {
    @apply text-lg m-0;
  }
  
  input, textarea {
    @apply p-2 border border-zinc-700 bg-bg-primary rounded-lg hover:bg-bg-on-hover transition-colors duration-300;
  }
  
  input::placeholder, textarea::placeholder {
    @apply text-zinc-400;
  }

}