<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikTok | Create Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./site/scripts/tailwind.config.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="h-dvh w-dvw flex flex-col p-4">
      <a id="logo" class="flex flex-row p-4 text-center" href="/">
        <h1 class="text-4xl font-bold text-red-500">Tik</h1>
        <h1 class="text-4xl font-bold text-blue-500">Tok</h1>
      </a>

      <form id="create-post-form" class="flex flex-col gap-4">
        <input 
          id="title" 
          class="p-2 border border-black rounded-lg" 
          type="text" 
          placeholder="Title"
        >
        <input 
          id="description" 
          class="p-2 border border-black rounded-lg" 
          type="text" 
          placeholder="Description"
        >
        <input 
          id="video-url" 
          class="p-2 border border-black rounded-lg" 
          type="text" 
          placeholder="Video URL"
        >
        <button 
          id="submit" 
          class="p-2 bg-green border border-black rounded-lg 
                 hover:bg-red-400"
        >
          Submit
        </button>
      </form>
    </main>

    <script src="./site/scripts/create-post.js"></script>
  </body>
</html>