<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikTok | Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="h-dvh w-dvw flex flex-col items-center">
      <div id="logo" class="flex flex-row p-4">
        <h1 class="text-4xl font-bold text-red-500">Tik</h1>
        <h1 class="text-4xl font-bold text-blue-500">Tok</h1>
      </div>

      <div id="posts" class="flex flex-col gap-4">

      </div>

      <a 
        id="create-post" 
        class="p-2 bg-green border border-black rounded-lg 
               hover:bg-red-400"
        href="./create-post.html"
      >
        Create Post
      </a>
    </main>

    <script src="./site/scripts/index.js"></script>
  </body>
</html>